---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Footer.astro';
---

<Default {...Astro.props}>
  <slot />
</Default>

<footer style="text-align: center; margin-top: 2rem;">
	<p>For the ♥ of open source</p>
	<a href="https://kuosc.org.np">	<img src="https://kuosc.org.np/img/logo.svg" width="100" height="100"/></a>
</footer>
